.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font: size 45px;
    color:rgb(122, 18, 53)
}

.btn{
    padding: 12px 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0;
    
}
.btn-brand{
    background-color: #304430;
    color: #1557d1;
}

.btn-brand:hover{
    border:2px solid #304430;

}

.navbar .nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #304430;
    text-transform:uppercase;
}

#banner{
    background: url('background1.jpg');
    height: 90vh;
    background-size:cover;
    background-position:center ;
    background-repeat: no-repeat;
}
#banner h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}
#banner p {
    font-size: 30px;
}


section{ 
    padding:100px 0;
}

.card-img-top{
    width:50px;
}

.card {
    border-radius:0;
    margin-top: 30px;
    border: 3px solid #304430;
    padding: 20px;

}

.card .card-title{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#sheesh{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

#about  .ngee{
    height:80vh;
    background:url("background1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;

}

#about  .eyy{
    padding: 100px;

}

#about h2, #about h4 {
font-family: 'Times New Roman', Times, serif;

}

#about {
    background-color:#4e7062;

}

.testimonials {
   border: 4px solid #304430;
   margin-top:20px ;
   padding: 20px;
}

.testemonials img {
    width:75px;
    border-radius: 50%;
}


#faq {
    background:rgb(77, 117, 155);
}

#faq h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

.faq-section {
    max-width: 800px;
    border-radius: 0!important;
}

.accordion-button {
    background-color:#0c0b0b;
    border:none;
    border-bottom: 1px solid cadetblue;
    border-radius: 0 !important;
    padding: 15px;
    font-size:18px;
    font-weight:500;
    color:#304430;
    cursor:pointer;
    transition:background-color 0.3s, color 0.3s;

}

.according-body {
    border-left:3px solid cadetblue;
    padding:10px 15px;
    margin-left:0;
    background-color:#1d1b1b

}

.accordion-button:not(.collapsed) {
    background-color:#304430;
    color:#000000;
}

.accordion-button:hover {
    background-color:#304430;
    color:#babdc5;
}


footer {
padding-top:50px;
padding-bottom: 50px;
background-color:rgb(27, 21, 25) ;
}

#footer ul.list-unstyled li a {
    color:aquamarine;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a{
    color:rgb(27, 24, 25)
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px !important;
    }

    #sheesh h2 {
        font-size: 30px;
    }

    #sheesh .col-lg-3 {
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 20px;
    }

    
.card .card-text{
    font-size: 15px;
}

#about .eyyy{
    padding: 40px;
}

#about .ngee {
    height: 300px;
}
}